<div class="col-lg-12 text-center">       
<h1 style="font-family: 'Frijole', cursive; color: dark;">Posts</h1>
<% if user_signed_in? %>
<%= link_to 'Create New Post', new_post_path, {:style=>'color:red; font-size: 1rem; font-family: Frijole ', :class => "css_class"} %>
<% else %>
You have to be signed in to create new posts.
<% end %>

<br>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-warning" style="font-family: 'Frijole', cursive; color: red;"><%= link_to "Show All", posts_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
  <button type="button" class="btn btn-secondary" style="font-family: 'Frijole', cursive; color: white;"><%= link_to "WHATHT CREATURE", posts_path(category: 'CREATURE'), {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
  <button type="button" class="btn btn-success" style="font-family: 'Frijole', cursive; color: white;"><%= link_to "WHATHT THING", posts_path(category: 'THING'), {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
  <button type="button" class="btn btn-danger" style="font-family: 'Frijole', cursive; color: white;"><%= link_to "WHATHT ONMAHBODY", posts_path(category: 'ONMAHBODY'), {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
</div>

</div>
</br>

<div class="container"> 
<div class="card-deck">
<% @posts.each do |post| %>
<% if post.category == "CREATURE" %>
<div class="card text-white bg-secondary mb-3 mx-auto" style="min-width: 16rem; max-width: 17rem; color: white;">
<% elsif post.category == "THING" %>
<div class="card text-white bg-success mb-3 mx-auto" style="min-width: 16rem; max-width: 17rem; color: white">
<% elsif post.category == "ONMAHBODY" %>
<div class="card text-white bg-danger mb-3 mx-auto" style="min-width: 16rem; max-width: 17rem; color: white">
<% end %>
 
  <div class="card-header">
    <h7 style="font-family: 'Frijole', cursive;">WHATHT <%= post.category %></h5>
  </div>
 
  <img class="card-img-top" src="<%= post.image %>" alt="Card image cap" style="height: auto; width: auto; max-height: 10rem;">
 
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.body %><p>
  </div>
 
  <div>
  <%= commontator_thread(post) %>
  </div>
 
  <div class="card-footer text-center" style="text-decoration: none;">
  <% if current_user == (post.user) %>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'View', post, {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Edit', edit_post_path(post), {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?', :style=>'color:#FFFFFF;', :class => "css_class" } %></button>
  <% else %>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'View', post, {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
  <% end %>
  </div>
 
  <div class="card-footer">
    <%= post.created_at %>
  </div>

</div>

<% end %>

</div>
</div>



