       
<h1>Posts</h1>
<% if user_signed_in? %>
<%= link_to 'Create New Post', new_post_path %>
<% end %>
<br>
<br>
<div class="card-deck">
<% @posts.each do |post| %>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5><%= post.category %></h5>
  </div>
  <img class="card-img-top" src="<%= post.image %>" alt="Card image cap" style="height: auto; width: auto; max-height: 15rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.body %></div>
  <div class="card-body">
    <a href="#" class="card-link"><%= link_to 'Show', post %></a>
    <a href="#" class="card-link"><%= link_to 'Edit', edit_post_path(post) %></a>
    <a href="#" class="card-link"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %></td></a>
  </div>
  <div class="card-footer text-muted">
    <%= post.created_at %>
  </div>
</div>
<% end %>
</div>



