<div class="container">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-10">
        <div class="col-md-8 blog-main">
          <h1 style="font-family: 'Frijole', cursive; color: red;">
            WHATHT <%= @post.category %>
          </h3>

          <div class="blog-post">
            <img src="<%= @post.image.url %>" style="height: auto; width: auto; max-height: 15rem;">
            <h2 class="blog-post-title"><%= @post.title %></h2>
            <p class="blog-post-meta"><%= @post.created_at %></p>

            <p><%= @post.body %></p>
            </div>

            <% if current_user == (@post.user) %>
            <%= link_to 'Edit Post', edit_post_path(@post) %> |
            <%= link_to 'Back', posts_path %>
            <% else %>
            <%= link_to 'Back', posts_path %>
            <% end %>
            <hr>
            <p><%= commontator_thread(@post) %></p>
     <div class="col-md-1">
    </div>

  </div>
</div>